body {
    margin: 0;
    padding: 0;
    font-family: judson;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: rgb(8, 8, 8);
    box-sizing: border-box;
    background-image: url(assets/menina1.jpg);
    display: block;

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



.header {
    display: flex;
    background-color: #ff92adbb;
    position: fixed;
    width: 100%;
    flex-direction: row;

}

.container {
    width: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    font-family: monospace;
    text-shadow: 0.1em 0.1em 0.2em #ffffff;
    flex-direction: row;
}




.navbar {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    text-decoration: none;
    gap: 100px;
    flex-direction: row;
    text-shadow: none;
}

.navbar a {
    width: 100%;
    color: black;
    text-decoration: none;


}

.SM{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.navbar a:hover {
    color: #ffffff;
    transition: 0.3s;
}

ul {
    list-style: none;
    font-size: 25px;
    gap: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    flex-wrap: nowrap;
    flex-direction: row;
}

ul a {
    width: 50%;
}

.banner {
    height: 100vh;
    background-size: cover;
    background-image: url(assets/dumpp2.png);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 80px;
    color: black;
    text-shadow: gray;
    margin: 0;
    padding: 0;
}


.proposta {
    background-image: url(assets/pretoebranco1.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    width: 100%;
    height: 100vh;
}

.imgprop {
    display: flex;
    margin: 50px;
    height: 20vh;

}

.sobremim img {
    width: 114px;
    height: 152px;
    border-radius: 5px;

}

.container {
    display: flex;
    justify-content: start;
}

.container2 {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 80vh;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-size: 25px;
    gap: 18rem;
    margin-top: 30px;
    background-image: url(assets/abracoREM.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    

}

.container2 p {
    text-align: center;
    display: flex;
    padding: 10px 15px;
    color: #ffffff;

}



.titleproposta {
    width: 100%;
    text-align: center;
    background-color: #ff92adbb;
    font-size: 2rem;
}

.titleproposta h4 {
    padding: 5px 0;
}


.footer {
    background-color: #ff92adbb;
    color: #000000;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: monospace;


}

.footer .container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.container3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-image: url(assets/produtos1.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 80px;



}

.container3 p {
    display: flex;
    text-align: center;
    margin-left: 18px;
}

.box1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box1 img {
    width: 200px;
    height: 270px;
    display: flex;
    margin-right: auto;
    border-radius: 17px;
}

.box1 p {
    width: 142px;
    height: 30px;
    font-size: 20px;
    color: white;
    text-shadow: #000000;

}

.title {
    width: 100%;
    text-align: center;
    background-color: #ff92adbb;
    font-size: 2rem;
}

.title h3 {
    padding: 5px 0;

}

.texto-container-um {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.589);
    text-align: center;
    justify-content: space-around;
    padding: 10px 15px;
    font-size: 2rem;
    border-radius: 15px;
    /* background-image: url(assets/quiz.jpg);
    background-position: center; */

}

.texto-container-dois {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: space-around;
    padding: 10px 15px;
    font-size: 2rem;
    width: 500px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 15px;
    /* background-image: url(assets/bandeira2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: 100%; */

}



/* Configuração para telas pequenas (>=576px)
@media (min-width: 576px) {
    .ctn {
        max-width: 540px;
    }
}

/ Configuração para telas médias (>=768px) /
@media (min-width: 768px) {
    .ctn {
        max-width: 720px;
    }
}

/* / Configuração para telas grandes (>=992px) / */
/* @media (min-width: 992px) {
    .ctn {
        max-width: 960px;
    }
} */

/* / Configuração para telas extra grandes (>=1200px) */
/* @media (min-width: 1200px) {
    .ctn {
        max-width: 1140px;
    } */
/* } */