body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    }
    .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(238, 213, 238);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .containerInteiro{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/3828410.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    
    .navbar {
        height: 50px;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: right;
        width: 50%;
        color: white;
        font-size: 25px;
        margin: 10px;
        list-style: none;
    }
    
    .navbar a {
        color: white;
        font-size: 25px;
        margin: 30px;
    }
    
    .navbar li:hover {
        color: #f12361;
        transition: 0.3s;
    }
    
    .navbar .headersite {
    display: flex;
    padding-left: 510px;
    align-items: center;
    
    }
    
    .containerInteiro .navbar{
    width: 100%;
    background-color: #8114b6;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 9vh;
    position: fixed;
    
    }
    
    h2 {
    color: #333;
    }
    p {
    color: #666;
    }
    button {
    background-color: #8114b6;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
    button:hover {
    background-color: #60e870;
    }
    #result {
    margin-top: 20px;
    font-weight: bold;
    }
    
    .acertos, .erros {
    display: none;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    }
    
    .acertos {
    background-color: green;
    }
    
    .erros {
    background-color: red;
    }
    
    #reiniciar {
    display: none;
    justify-content: center;
    }
    
    .metricas {
    display: flex;
    justify-content: center;
    }
    
    .reiniciarquizz {
    display: flex;
    justify-content: center;
    }