body {
    overflow-x: hidden;
    display: contents;

}

.telaCompleta {
    background-image: url(./assets/kerastaserosa.jpg);
    background-repeat: no-repeat;
    height: 632px;
    width: 100vw;
    background-position: 50% 50%;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

}

.tela {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #ee8f81bd;
    

}

.titulo {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #070707;
    height: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    


}

/* .navbar{
    height: 50px;
    width: 99.8%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color: #fdfdfd;
    border: 2px solid #D08C81;

} */

.input1 {
    height: 25px;
    width: 250px;
    border-radius: 10px;
    border-color: #D08C81;
}

.input2 {
    height: 25px;
    width: 250px;
    border-radius: 10px;
    border-color: #D08C81;
}

.input1 {
    display: flex;
    text-align: center;
}

.input2 {
    display: flex;
    text-align: center;
}

.botao {
    /* background-color: #0000008e;
    color: white;
    border-radius: 10px; */
    display: flex;
    align-items: center;
    height: 30px;
    padding: 1rem 2rem;
    font-weight: 700;
    background: #ffffff;
    color: blueviolet;
    border-radius: .5rem;
    border-bottom: 2px solid #c9153c;
    border-right: 2px solid #c9153c;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
        border-left,
        border-bottom,
        border-right,
        box-shadow;
}


.botao:hover {
    border-top: 2px solid #e22b3a;
    border-left: 2px solid #8a2be2;
    border-bottom: 2px solid #c9153c;
    border-right: 2px solid #c9153c;
    box-shadow: #f02eaa66 5px 5px, #f02eaa4d 10px 10px, #f02eaa33 15px 15px;
}

.span{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

